<center> <img src="http://oci02.img.iteso.mx/identidad_de_instancia_2018/ITESO/Logos%20ITESO/Logo-ITESO-Principal.jpg" align="center" width="960" height="480"/> </center>

<center><font color=#555555><font size=6> MAF1731 - Microstructure and Trading Systems </font> <br> <br>
    
<center><font color=#555555><font size=5> B.Eng Financial Engineering </font> <br> <br> <br> <br>
   
<center> <font color= #555555> <font size = 4> Jun 2021 </a> | <font color= #555555> <font size = 4> Repository: <a href='https://github.com/Karlaanton/myst_modulo0_kav'>Link</a></font>

<hr style="border:0.02in solid gray"> </hr>

<center> <font color= #555555> <font size = 6> Module 0 </font> <br> <br> <font color= #555555> <font size = 5> Preparation for Data Handling - Part 1  </font>
<center><font color=#555555><font size=5> Karla Antón Vázquez </font> <br> <br> <br> <br>

<hr style="border:0.02in solid gray"> </hr>

<br>

# <font color= #6B6B6B> <font size = 6> 1. Introduction </font>

<hr style="border:0.02in solid gray"> </hr>

This notebook is provided as a preparation for the data handling processes that will be needed throughout the course.

<br>

# <font color= #6B6B6B> 2. Install/Load Packages and Depedencies </font>

<hr style="border:0.02in solid gray"> </hr>

<br>

## <font color= #6B6B6B> 2.2 Python Packages </font> <font color= #555555>

In order to run this notebook, it is necessary to have installed and/or have the _requirements.txt_ file with the following:

- pandas>=1.1.1 
- numpy>=1.19.1
- jupyter>=1.0.0

## <font color= #6B6B6B> 2.3 Files Dependencies </font> <font color= #555555>

The following are the file dependencies that are needed to run this notebook:

- files/ohlc-prices.csv : Historical Open, High, Low, Close 8 Hour Example Prices.

## <font color= #6E6E6E> 2.3 Install Packages</font>

In [1]:
%%capture

# Install all the pip packages in the requirements.txt
import sys
!{sys.executable} -m pip install -r requirements.txt

## <font color= #6E6E6E> 2.4 Load Packages</font>

In [2]:
# -- Generic
import pandas as pd
import numpy as np

# -- Visualization
import plotly.graph_objects as go
import chart_studio.plotly as py

<br>

# <font color= #6B6B6B> 3. Data Description </font>

<hr style="border:0.02in solid gray"> </hr>

## <font color= #6B6B6B> 3.1 Load and display the data </font>

First, we load and display the data in its original format.

In [3]:
# load data
ohlc_prices = pd.read_csv('ohlc-prices.csv')

# We can ask for the structural information 
ohlc_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 811 entries, 0 to 810
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  811 non-null    object
 1   open       811 non-null    float64
 2   high       811 non-null    float64
 3   low        811 non-null    float64
 4   close      811 non-null    float64
 5   volume     811 non-null    float64
dtypes: float64(5), object(1)
memory usage: 38.1+ KB

We can also check the dimensions of the data frame.

In [4]:
ohlc_prices.shape  # (rows, columns)

(811, 6)

Lets convert the _timestamp_ column, currently as an _object_ to a _datetime_ data type

## <font color= 'royal blue'> EXAMPLE: How to convert a column data type into datetime ? </font>

In [5]:
# place your code here
ohlc_prices['timestamp'] = pd.to_datetime(ohlc_prices['timestamp'])

Check that your answer most generate exactly the same output as the following code cell included in the notebook.

In [6]:
ohlc_prices.dtypes

timestamp    datetime64[ns]
open                float64
high                float64
low                 float64
close               float64
volume              float64
dtype: object

Validate your answer by calculating the difference between the $timestamp_{t=1}$ and $timestamp_{t=0}$

In [7]:
ohlc_prices['timestamp'].iloc[1] - ohlc_prices['timestamp'].iloc[0]

Timedelta('0 days 08:00:00')

Then, we can display the whole dataframe and see the first 5 and the last 5 automatically

In [8]:
# Display the readed data
display(ohlc_prices)

              timestamp    open    high     low   close        volume
0   2020-01-01 00:00:00  129.16  130.98  128.68  130.24   47143.32874
1   2020-01-01 08:00:00  130.24  132.40  129.87  132.08   51833.22852
2   2020-01-01 16:00:00  132.08  133.05  129.74  130.77   45793.96471
3   2020-01-02 00:00:00  130.72  130.78  128.69  129.26   66066.00891
4   2020-01-02 08:00:00  129.23  130.28  128.90  129.59   48498.93237
..                  ...     ...     ...     ...     ...           ...
806 2020-09-25 16:00:00  347.14  358.00  345.00  351.92  260019.53836
807 2020-09-26 00:00:00  351.93  356.40  348.97  350.82  183874.46664
808 2020-09-26 08:00:00  350.82  354.72  345.88  352.34  219447.48726
809 2020-09-26 16:00:00  352.34  355.90  350.42  353.92  127557.25365
810 2020-09-27 00:00:00  353.95  362.14  352.50  354.34  257984.15667

[811 rows x 6 columns]

Or, we can specify them manually

## <font color= 'royal blue'> Q1: Print at the same cell the first 3 and the last 6 rows of ohlc_prices </font>

(0.25 pts)

In [9]:
# place your code here
first_three = ohlc_prices.head(3)
last_six = ohlc_prices.tail(6)
display(first_three, last_six)

            timestamp    open    high     low   close       volume
0 2020-01-01 00:00:00  129.16  130.98  128.68  130.24  47143.32874
1 2020-01-01 08:00:00  130.24  132.40  129.87  132.08  51833.22852
2 2020-01-01 16:00:00  132.08  133.05  129.74  130.77  45793.96471

              timestamp    open    high     low   close        volume
805 2020-09-25 08:00:00  343.01  348.61  337.58  347.12  318745.06684
806 2020-09-25 16:00:00  347.14  358.00  345.00  351.92  260019.53836
807 2020-09-26 00:00:00  351.93  356.40  348.97  350.82  183874.46664
808 2020-09-26 08:00:00  350.82  354.72  345.88  352.34  219447.48726
809 2020-09-26 16:00:00  352.34  355.90  350.42  353.92  127557.25365
810 2020-09-27 00:00:00  353.95  362.14  352.50  354.34  257984.15667

A special note on close and open price match

As we can see, the _timestamp_ column has the date and the time representing the time period where all the other data occurred, the _Open_ price is the one that occurred, in the case of registry 0, at that particular date and time **exactly** in the _timestamp_ column of registry 0, then _high_ and _low_ prices occurred within that time period, then the _close_ price occurred in the next registry or timestamp, so you can see the _close_ at time $t$ is the same as the _open_ at $t+1$.

Lets see a couple of examples of where this happens.

In [10]:
display(ohlc_prices.loc[0:1,:])

            timestamp    open    high     low   close       volume
0 2020-01-01 00:00:00  129.16  130.98  128.68  130.24  47143.32874
1 2020-01-01 08:00:00  130.24  132.40  129.87  132.08  51833.22852

In [11]:
display(ohlc_prices.loc[1:2,:])

            timestamp    open    high     low   close       volume
1 2020-01-01 08:00:00  130.24  132.40  129.87  132.08  51833.22852
2 2020-01-01 16:00:00  132.08  133.05  129.74  130.77  45793.96471

For the cases where _close_ at $t$ is not exactly as _open_ at $t+1$ we can consider that it is an effect of rounding the number, also that it was indeed a _jump_ in the price at that particular _timestamp_, which is something that do happens in financial markets with low liquidity, and/or, at markets with sufficient liquidity in general but in times with not sufficient orders or transactions, also it could be due to broker fees and also when the broker widens the spread by inserting a fee to profit from.

These are the cases where there is a difference in prices.

In [12]:
display(ohlc_prices.loc[2:3,:])

            timestamp    open    high     low   close       volume
2 2020-01-01 16:00:00  132.08  133.05  129.74  130.77  45793.96471
3 2020-01-02 00:00:00  130.72  130.78  128.69  129.26  66066.00891

In [13]:
display(ohlc_prices.loc[809:810,:])

              timestamp    open    high     low   close        volume
809 2020-09-26 16:00:00  352.34  355.90  350.42  353.92  127557.25365
810 2020-09-27 00:00:00  353.95  362.14  352.50  354.34  257984.15667

Those price differences can play an important role in certain cases.

## <font color= 'royal blue'> Q2: How many cases of price jumps can you find ? </font>

(0.125 pts)

In [14]:
# place your code here
jump_cases = []
for row in range (1, len(ohlc_prices)):
    jump_cases.append(ohlc_prices['close'][row-1] != ohlc_prices['open'][row])

In [15]:
print("The amount of price jumps cases were: {counts}.".format(counts = sum(jump_cases)))

The amount of price jumps cases were: 557.

## <font color= 'royal blue'> Q3: Can you display a DataFrame with only the rows where they occurred ? </font>

(0.125 pts)

Tip: get the index of the $close_{t+1}$ if its different than $open_{t}$, so you find and display these cases to test, then, find all of them.

In [16]:
# These are a two examples
display(ohlc_prices.loc[2:3,:])
display(ohlc_prices.loc[809:810,:])

            timestamp    open    high     low   close       volume
2 2020-01-01 16:00:00  132.08  133.05  129.74  130.77  45793.96471
3 2020-01-02 00:00:00  130.72  130.78  128.69  129.26  66066.00891

              timestamp    open    high     low   close        volume
809 2020-09-26 16:00:00  352.34  355.90  350.42  353.92  127557.25365
810 2020-09-27 00:00:00  353.95  362.14  352.50  354.34  257984.15667

Create a new DataFrame called $\text{ohlc_prices_jumps}$ with all the cases and print the first 12 rows

In [17]:
# place your code here
ohlc_prices_jumps = pd.DataFrame(columns = ['timestamp','open','high', 'low','close','volume'])
for row in range (0, len(ohlc_prices)-1):
    if ohlc_prices.loc[row,'close'] != ohlc_prices.loc[row+1,'open']:
        ohlc_prices_jumps.loc[row,:] = ohlc_prices.loc[row,:]

In [18]:
display(ohlc_prices_jumps.head(8))

              timestamp    open    high     low   close        volume
2   2020-01-01 16:00:00  132.08  133.05  129.74  130.77   45793.96471
3   2020-01-02 00:00:00  130.72  130.78  128.69  129.26   66066.00891
4   2020-01-02 08:00:00  129.23  130.28   128.9  129.59   48498.93237
7   2020-01-03 08:00:00  128.86  133.95   128.8  132.53   176281.4428
8   2020-01-03 16:00:00  132.52  135.14  131.94  134.35  109132.38836
9   2020-01-04 00:00:00  134.37  134.81  132.79  133.91   54169.97213
12  2020-01-05 00:00:00   134.2  137.24  134.19  136.02   86117.87334
13  2020-01-05 08:00:00  136.04  137.96   134.7  137.26     75664.316

Display the last 6 cases

In [19]:
display(ohlc_prices_jumps.tail(6))

               timestamp    open    high     low   close        volume
801  2020-09-24 00:00:00  320.72  329.17  316.67   328.0  277795.22482
802  2020-09-24 08:00:00  327.99   345.0   325.0  344.54  438773.14074
804  2020-09-25 00:00:00  348.97  350.42   339.8   343.0  281879.17404
805  2020-09-25 08:00:00  343.01  348.61  337.58  347.12  318745.06684
806  2020-09-25 16:00:00  347.14   358.0   345.0  351.92  260019.53836
809  2020-09-26 16:00:00  352.34   355.9  350.42  353.92  127557.25365

Next we can display some of the descriptive statistics of all the data in its original format.

In [20]:
display(ohlc_prices.describe())

             open        high         low       close        volume
count  811.000000  811.000000  811.000000  811.000000  8.110000e+02
mean   241.898656  246.353909  237.158397  242.176363  2.804787e+05
std     86.813317   88.189967   84.950551   86.811425  2.020511e+05
min    107.020000  115.780000   86.000000  107.010000  4.579396e+04
25%    175.825000  178.975000  173.045000  176.320000  1.557513e+05
50%    226.760000  229.960000  224.000000  226.810000  2.337619e+05
75%    273.285000  279.310000  267.235000  273.860000  3.402303e+05
max    481.920000  488.840000  471.180000  481.960000  2.217567e+06

## <font color= 'royal blue'> Q4: Can you describe only one column ? </font>

(0.5 pts)

In [21]:
# place your code here
display(ohlc_prices['volume'].describe())

count    8.110000e+02
mean     2.804787e+05
std      2.020511e+05
min      4.579396e+04
25%      1.557513e+05
50%      2.337619e+05
75%      3.402303e+05
max      2.217567e+06
Name: volume, dtype: float64

<br>

# <font color= #6B6B6B> 4. Calculations with timestamp  </font>

<hr style="border:0.02in solid gray"> </hr>

We can calculate a time value with the timestamp column, for example

In [22]:
display(ohlc_prices['timestamp'][0])
display('we can extract the minute of the timestamp')
display(ohlc_prices['timestamp'][0].minute)

Timestamp('2020-01-01 00:00:00')

'we can extract the minute of the timestamp'

0

## <font color= 'royal blue'> Q5: Can you create an hour column ? </font>

(0.5 pts)

In [23]:
# place your code here
ohlc_prices['hour'] = ''
for row in range (0, len(ohlc_prices)):
    ohlc_prices.loc[row,'hour'] = ohlc_prices['timestamp'][row].hour

In [24]:
display(ohlc_prices.head(5))

            timestamp    open    high     low   close       volume hour
0 2020-01-01 00:00:00  129.16  130.98  128.68  130.24  47143.32874    0
1 2020-01-01 08:00:00  130.24  132.40  129.87  132.08  51833.22852    8
2 2020-01-01 16:00:00  132.08  133.05  129.74  130.77  45793.96471   16
3 2020-01-02 00:00:00  130.72  130.78  128.69  129.26  66066.00891    0
4 2020-01-02 08:00:00  129.23  130.28  128.90  129.59  48498.93237    8

## <font color= 'royal blue'> Q6: Can you create an day column ? </font>

(0.5 pts)

In [30]:
# place your code here
ohlc_prices['day'] = ''
for row in range (0, len(ohlc_prices)):
    ohlc_prices.loc[row,'day'] = ohlc_prices['timestamp'][row].dayofweek

In [31]:
display(ohlc_prices.head(5))

            timestamp    open    high     low   close       volume hour day
0 2020-01-01 00:00:00  129.16  130.98  128.68  130.24  47143.32874    0   2
1 2020-01-01 08:00:00  130.24  132.40  129.87  132.08  51833.22852    8   2
2 2020-01-01 16:00:00  132.08  133.05  129.74  130.77  45793.96471   16   2
3 2020-01-02 00:00:00  130.72  130.78  128.69  129.26  66066.00891    0   3
4 2020-01-02 08:00:00  129.23  130.28  128.90  129.59  48498.93237    8   3

So, there are many ways to express a day, numerically, it can be the week day (from 0 to 6), the day of the month (from 0 to 30) and even the day in the year (from 0 to 365). Also as a string in some language, like (monday), or (lunes). For this particular notebook, we will use a numeric notation with 0 as monday and 6 as sunday, and so the expected output is the following:

In [32]:
set(ohlc_prices['day'])

{0, 1, 2, 3, 4, 5, 6}

## <font color= 'royal blue'> Q7: Can you create an month column ? </font>

(0.5 pts)

In [33]:
# place your code here
ohlc_prices['month'] = ''
for row in range (0, len(ohlc_prices)):
    ohlc_prices.loc[row,'month'] = ohlc_prices['timestamp'][row].month

In [34]:
display(ohlc_prices.head(5))

,timestamp,open,high,low,close,volume,hour,day,month
0,2020-01-01 00:00:00,129.16,130.98,128.68,130.24,47143.32874,0,2,1
1,2020-01-01 08:00:00,130.24,132.40,129.87,132.08,51833.22852,8,2,1
2,2020-01-01 16:00:00,132.08,133.05,129.74,130.77,45793.96471,16,2,1
3,2020-01-02 00:00:00,130.72,130.78,128.69,129.26,66066.00891,0,3,1
4,2020-01-02 08:00:00,129.23,130.28,128.90,129.59,48498.93237,8,3,1

Similarly to _day_, in the month there can be a lot of ways to expressing it, we will use also the numeric value where 1 is january and so on.

## <font color= 'royal blue'> Q8: How do you print the unique values of hour and day columns ? </font>

(0.5 pts)

In [55]:
# place your code here
hour_vals = ohlc_prices['hour'].unique().tolist()
day_vals = ohlc_prices['day'].unique().tolist()

In [56]:
print('The unique values of the hour columnare:', hour_vals)
print('The unique values of the day column are:', day_vals)

The unique values of the hour columnare: [0, 8, 16]
The unique values of the day column are: [2, 3, 4, 5, 6, 0, 1]

# <font color= #6B6B6B> 5. Session information  </font>

As you already know, there are a lot of financial markets, and not all of them are located in the same city. Even the ones that do not have a physical building open to the public, its servers will be necessarily located in some place in earth and therefore have a geolocation which means have a timezone.

At Guadalajara, we live in the GMT-6 timezone, or GMT-5 for the 'horario de verano', or, 'daylight savings'. With that refference, we can define the following intervals of time to classify a 'market session' according to the corresponding continent that is active during that particular time, where active means that in that interval is included their corresponding 'working hours'.

In [57]:
asia = [22, 23, 0, 1, 2, 3, 4, 5, 6, 7]
asia_europe = [8]
europe = [9, 10, 11, 12]
europe_america = [13, 14, 15, 16]
america = [17, 18, 19, 20, 21]

## <font color= 'royal blue'> Q9: Create a _session_ column with its corresponding string according to hours in its list </font>

(0.5 pts)

In [33]:
# one example would be
print('for this case:', ohlc_prices['hour'][16], ' corresponds to:', 'asia_europe')

for this case: 8  corresponds to: asia_europe

In [34]:
# place your code here
ohlc_prices['session'] = ''

In [35]:
display(ohlc_prices.head(5))
display(ohlc_prices.tail(5))

,timestamp,open,high,low,close,volume,hour,day,month,session
0,2020-01-01 00:00:00,129.16,130.98,128.68,130.24,47143.32874,0,2,1,asia
1,2020-01-01 08:00:00,130.24,132.40,129.87,132.08,51833.22852,8,2,1,asia-europe
2,2020-01-01 16:00:00,132.08,133.05,129.74,130.77,45793.96471,16,2,1,europe-america
3,2020-01-02 00:00:00,130.72,130.78,128.69,129.26,66066.00891,0,3,1,asia
4,2020-01-02 08:00:00,129.23,130.28,128.90,129.59,48498.93237,8,3,1,asia-europe

,timestamp,open,high,low,close,volume,hour,day,month,session
806,2020-09-25 16:00:00,347.14,358.00,345.00,351.92,260019.53836,16,4,9,europe-america
807,2020-09-26 00:00:00,351.93,356.40,348.97,350.82,183874.46664,0,5,9,asia
808,2020-09-26 08:00:00,350.82,354.72,345.88,352.34,219447.48726,8,5,9,asia-europe
809,2020-09-26 16:00:00,352.34,355.90,350.42,353.92,127557.25365,16,5,9,europe-america
810,2020-09-27 00:00:00,353.95,362.14,352.50,354.34,257984.15667,0,6,9,asia

# <font color= #6B6B6B> 6. Magnitud and Direction  </font>

<hr style="border:0.02in solid gray"> </hr>

Then, we can calculate some other values, or, linear variables, with the four prices for each interval: _open_, _high_, _low_, _close_. For example, _co_ will be _close_ - _open_

In [36]:
# Close - Open
ohlc_prices['co'] = (ohlc_prices['close'] - ohlc_prices['open'])
ohlc_prices['co'][0:4]

0    1.08
1    1.84
2   -1.31
3   -1.46
Name: co, dtype: float64

## <font color= 'royal blue'> Q10: Can you round all the values to 4 decimals in the _co_ column ?</font>

(0.5 pts)

In [37]:
# place your code here

0      1.08
1      1.84
2     -1.31
3     -1.46
4      0.36
       ...
806    4.78
807   -1.11
808    1.52
809    1.58
810    0.39
Name: co, Length: 811, dtype: float64

With this _co_ example as column, one can have a variable to express one particular aspect of the price dynamics during each time period or candle. Remember the _return_ formula?, the return is your friend, and no it is not normal, but, are you ?.

For the case of _co_, think of it as the numerator of one of the operations you should remmember very clearly:

\begin{equation}
    R_{d} = \frac{Price_{t+1} - Price_{t}}{Price_{t}} \quad , \quad R_{log} = \log \left( \frac{Price_{t+1}}{Price_{t}} \right)
\end{equation}

where: <br>
$R_{d}$: The return metric in discrete time <br>
$R_{log}$: The return metric in continuous time <br>

Since we can assume that $close_{t} = open_{t+1}$ and that $open_{t} = close_{t-1}$, then, $price_{t+1} = open_{t+1}$ and $price_{t} = open_{t}$, similarly, $price_{t+1} = close_{t+1}$ and $price_{t} = close_{t}$.

Therefore, ultimately, we can state that:

\begin{equation}
    close_{t+1} - open_{t+2} = close_{t} - open_{t+1} \rightarrow R_d = price_{t+1} - price_{t}
\end{equation}

So, in a way, when can use $co$ as the numerator of the return formula, moreover, we can consider that as the difference between two prices without scaling them so the resulting number do not represent a proportion, just a substraction. This will be more of use in the future, but for now, you can think of it as the first difference of the price (remmember lags and differences? from the timeseries course)

Recall also that because of the mathematical properties of $log$, we can express _co_ like the following:
    
\begin{equation}
    R_{log} = \log \left( \frac{price_{t+1}}{price_{t}} \right) = \log(price_{t+1}) - \log(price_{t})
\end{equation}

Which is consisten with the previous definition of $co_{t} = close_{t} - open_{t}$ for every value of $t$ in the whole dataset.

But what about if we need a metric that indicate just the sign, or the _direction_ of the price movement for a particular observation, what would that look like ?

In [38]:
display(ohlc_prices.head(3))
idx = 2
print('upward movement' if ohlc_prices['co'][idx] > 0 else 'downward movement')
print('since the co value:', ohlc_prices['co'][idx], 'is positive' if ohlc_prices['co'][idx] > 0 else 'is negative')

,timestamp,open,high,low,close,volume,hour,day,month,session,co
0,2020-01-01 00:00:00,129.16,130.98,128.68,130.24,47143.32874,0,2,1,asia,1.08
1,2020-01-01 08:00:00,130.24,132.40,129.87,132.08,51833.22852,8,2,1,asia-europe,1.84
2,2020-01-01 16:00:00,132.08,133.05,129.74,130.77,45793.96471,16,2,1,europe-america,-1.31

downward movement
since the co value: -1.3100000000000023 is negative

## <font color= 'royal blue'> Q11: Can you create a _direction_ column with 1 if co is positive and 0 otherwise ? </font>

(0.5 pts)

In [39]:
# place your code here

In [40]:
display(ohlc_prices.head(5))
display(ohlc_prices.tail(5))

,timestamp,open,high,low,close,volume,hour,day,month,session,co,direction
0,2020-01-01 00:00:00,129.16,130.98,128.68,130.24,47143.32874,0,2,1,asia,1.08,1
1,2020-01-01 08:00:00,130.24,132.40,129.87,132.08,51833.22852,8,2,1,asia-europe,1.84,1
2,2020-01-01 16:00:00,132.08,133.05,129.74,130.77,45793.96471,16,2,1,europe-america,-1.31,0
3,2020-01-02 00:00:00,130.72,130.78,128.69,129.26,66066.00891,0,3,1,asia,-1.46,0
4,2020-01-02 08:00:00,129.23,130.28,128.90,129.59,48498.93237,8,3,1,asia-europe,0.36,1

,timestamp,open,high,low,close,volume,hour,day,month,session,co,direction
806,2020-09-25 16:00:00,347.14,358.00,345.00,351.92,260019.53836,16,4,9,europe-america,4.78,1
807,2020-09-26 00:00:00,351.93,356.40,348.97,350.82,183874.46664,0,5,9,asia,-1.11,0
808,2020-09-26 08:00:00,350.82,354.72,345.88,352.34,219447.48726,8,5,9,asia-europe,1.52,1
809,2020-09-26 16:00:00,352.34,355.90,350.42,353.92,127557.25365,16,5,9,europe-america,1.58,1
810,2020-09-27 00:00:00,353.95,362.14,352.50,354.34,257984.15667,0,6,9,asia,0.39,1

## <font color= 'royal blue'> Q12: Can you count the consecutive 1s or 0s in _direction_ column ? </font>

(0.5 pts)

In [41]:
# place your code here

In [42]:
display(ohlc_prices.head(5))
display(ohlc_prices.tail(5))

,timestamp,open,high,low,close,volume,hour,day,month,session,co,direction,direction_c
0,2020-01-01 00:00:00,129.16,130.98,128.68,130.24,47143.32874,0,2,1,asia,1.08,1,0
1,2020-01-01 08:00:00,130.24,132.40,129.87,132.08,51833.22852,8,2,1,asia-europe,1.84,1,1
2,2020-01-01 16:00:00,132.08,133.05,129.74,130.77,45793.96471,16,2,1,europe-america,-1.31,0,0
3,2020-01-02 00:00:00,130.72,130.78,128.69,129.26,66066.00891,0,3,1,asia,-1.46,0,1
4,2020-01-02 08:00:00,129.23,130.28,128.90,129.59,48498.93237,8,3,1,asia-europe,0.36,1,0

,timestamp,open,high,low,close,volume,hour,day,month,session,co,direction,direction_c
806,2020-09-25 16:00:00,347.14,358.00,345.00,351.92,260019.53836,16,4,9,europe-america,4.78,1,1
807,2020-09-26 00:00:00,351.93,356.40,348.97,350.82,183874.46664,0,5,9,asia,-1.11,0,0
808,2020-09-26 08:00:00,350.82,354.72,345.88,352.34,219447.48726,8,5,9,asia-europe,1.52,1,0
809,2020-09-26 16:00:00,352.34,355.90,350.42,353.92,127557.25365,16,5,9,europe-america,1.58,1,1
810,2020-09-27 00:00:00,353.95,362.14,352.50,354.34,257984.15667,0,6,9,asia,0.39,1,2

<br>

# <font color= #6B6B6B> <font size = 6> References </font>

<hr style="border:0.02in solid gray"> </hr>

[1] Munnoz, 2020. Python project template. https://github.com/iffranciscome/python-project. (2021).

<br>